.playerCard {
    border: 3px solid rgba(0,255,133, 0.5);
    margin: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}

.playerCard p {
    color: lightgray;
    padding-top: 30px;
}

  
  .playerCard:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border: 3px solid rgba(56,0,60, 0.5);
  }

@media(max-width:767px) {
    .playerCard {
        /* margin: 7px; */
        padding-bottom: 0px;
        width: 200px;
        margin: 10px auto;
    }
}



/* .resultPlayer {
    margin-bottom: 50px;
} */


@media(max-width:767px) {
    .resultPlayer {
        margin-bottom: 0px;
    }
}
.resultPlayer img {
    width: 80px;
    height: auto;
    margin-top: 30px;
}

@media(max-width:767px) {
    .resultPlayer img {
        width: 100px;
    }
}