.sectionmanager {
    background: darkgray;
    height: 450px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
}

@media(max-width:470px) {
    .sectionmanager {
        height: 650px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.sectionmanager > h2 {
    margin-top: 50px;
    text-align: center;
    padding-top: 60px;
}

.manager-profile {
    margin-top: 100px;
    margin-left: 50px;
}

.manager-profile h2 {
    margin-bottom: 40px;
}

.managerinfo {
    text-align: center;
}

@media(max-width:767px) {
    .managerinfo {
        text-align: unset;
    }
}

#secondline {
    margin-bottom: 30px;
}


.managerinfo img {
    width: 50%;
    height: auto;
    margin: 0;
    
    text-align: center;
}

@media(max-width:767px) {
    img {
        margin-top: 30px;
    }
}