.sectionmanager {
    /* background: darkgray; */
    background: rgba(0,0,0,.9);
    height: 450px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px palegoldenrod;
    /* border: 0.5px solid palegoldenrod; */
}

@media(max-width:470px) {
    .sectionmanager {
        height: 650px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.sectionmanager > h2 {
    color: #00ff85;
    text-align: center;
    padding-top: 60px;
}

.manager-profile {
    margin-top: 40px;
    margin-left: 50px;
}

.manager-profile h2 {
    margin-bottom: 40px;
    font-family: 'Caveat', cursive;
    color: palegoldenrod;
    font-size: 40px;

}

.manager-profile p {
    color: whitesmoke;
}

.managerinfo {
    text-align: center;
}

@media(max-width:767px) {
    .managerinfo {
        text-align: unset;
    }
}

#secondline {
    margin-bottom: 30px;
}


.managerinfo img {
    width: 50%;
    height: auto;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    
}

@media(max-width:470px) {
    .managerinfo img {
        margin-top: 80px;
        margin-left: 50px;
    }
}