#teamnameC {
    text-align: center;
}

#teamnameC h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    padding-top: 60px;
    color: goldenrod;
}

#teamname div {
    text-align: center;
}

#start {
    margin-top: 70px;
    margin-bottom: 70px;
    border: 1px solid palegoldenrod;
    background: none;
    color: white;
    padding: 20px;
}

#start:hover {
    margin-top: 70px;
    margin-bottom: 70px;
    border: 2px solid palegoldenrod;
    background: none;
    color: palegoldenrod;
    padding: 20px;
    background: rgba(0,0,0,.6);
}