.sectionteam {
    background: burlywood;
    margin-top: 50px;
}

.sectionteam > h2 {
    text-align: center;
    padding-top: 40px;
}

.tactics {
    padding: 50px;
    text-align: center;
}

/* .visualization {
    background: url('../../images/pitch.png') no-repeat;
} */

#pitch {
    width: 100%;
    height: auto;
    margin: 0;
}