#player-whole {
    background: url(../../images/dribble.gif);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
    /* box-shadow: inset 0 0 0 1000px rgba(56,0,60,.7); */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1800vh;
}